- content_for :page_title, 'Questions - Stack Underflow'

= render 'top_bar'
%div{ id: 'questions-index', class: 'container' }
  = render 'header'
  = simple_form_for :questions, url: questions_path, method: :get, remote: :true, html: { class: "search-form", autocomplete: 'off' } do |f|
    = text_field_tag :q, nil, as: :string, id: 'question-q'
  =render partial: 'list', locals: { questions: @questions }
