$contentWidth: 1030px;
$contentMaxWidth: 1600px;
$contentMinWidth: 728px;

$baseTextColor: #3a3a3a;
$orange: #ffa500;
$gray: #60656b;
$light-gray: #9ea3a9;
$blue: #3170a9;
$light-blue: #3d93db;
$red: #ff463f;